.moodTrackerPage {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 40px 120px;
}

.headerMoodTrackerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.questionnaires {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-items: stretch;
   margin-top: 32px;
}

.item-start {
    justify-self: start;
}

.item-end {
    justify-self: end;
}

.item-middle {
    justify-self: center;
}


.questionnaireBox {
    border-radius: 12px;
    border: solid 1px #252D3B;
    padding: 20px 25px;
    width: 80%;
    justify-items: center;
}

.questionnaireTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
}

.moodQuestionnaireImg {
    object-fit: cover;
    width: 150px;
    margin-bottom: 32px;
}

.questionnaireInfo {
   font-size: 14px;
   text-align: center;
   margin-bottom: 32px;
}

.goals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    justify-items: left;
    margin-top: 20px;
}

.goal {
    display: flex;
    flex-direction: row;
}

.goalModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goalInput {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
}