.insightsPage {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 40px 120px;
}

.headerInsightsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.moodTrendsImg {
    text-align: center;
    max-width: 800px;
    height: 350px;
    margin: 0 auto;
}

.sentimentPieChart {
    width: 100%;
    max-width: 400px;
    height: 320px;
    margin: 0 auto;
}

.emotions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    text-align: center;
    justify-items: center;
}

.emotionEmoji {
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
}

.emotionText{
    font-size: 16px;
    font-weight: 500;
}
