.navContainer {
    background-color:#CBC0D3;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #38445A;
    position: sticky;
    flex-shrink: 0;
    top: 0;
    overflow-x: hidden;
}

.logo {
    object-fit: cover;
    width: 140px;
    margin-top: 20px;
}

.listItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 40px;
}

.active {
    color: black;
    font-weight: 500;
}

.navbarIcon, .activeNavbarIcon {
    width: 22px;
    height: 22px;
    margin-right: 6px;
}

.listItem .navbarIcon {
    display: inline-block;
}

.listItem .activeNavbarIcon {
    display: none;
}

.listItem.active .navbarIcon {
    display: none;
}

.listItem.active .activeNavbarIcon {
    display: inline-block;
}

.navGuest {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navGuest .active {
    color: #5A77AC;
}